ion-list {
    ion-list-header {
        font-size: 18px;
        padding-left: 0px;
        text-transform: capitalize;
    }
    ion-item {
        border: 1px solid #d2cccc !important;
        border-radius: 10px;
        margin: 5px 0;
        --inner-padding-end: 0px;
    }
    ion-label {
        h3 {
            color: #2f528d;
            text-transform: capitalize;
        }
        p {
            font-size: 12px;
        }
    }

    ion-icon {
        font-size: 20px;
        &:nth-child(1),
        &:nth-child(2) {
            opacity       : 0;
            pointer-events: none;
        }
    }

    .show {
        opacity       : 1 !important;
        pointer-events: visible !important;
    }
}
