<ion-header>
  <ion-toolbar>
    <ion-title>Player</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100vh">
  <div
    *ngIf="currentPodcast"
    style="position: absolute; bottom: 0; width: 100%; margin-bottom: 50px"
  >
    <p
      style="
        text-align: center;
        font-weight: bold;
        font-size: 26px;
        color: white;
        padding: 20px;
      "
    >
      {{currentPodcast.title}}
    </p>
    <ion-range
      #range
      ([ngModel])="progress"
      value="{{progress}}"
      min="0"
      max="100"
      color="light"
      (touchend)="seek()"
      (mouseup)="seek()"
    >
      <ion-label color="light" slot="start">{{ state.time }}</ion-label>
      <ion-label color="light" slot="end"
        >{{ state.duration}}</ion-label
      ></ion-range
    >
    <div style="text-align: center">
      <ion-button (click)="rewind()" fill="clear" color="light">
        <ion-icon name="play-back-outline"></ion-icon>
      </ion-button>

      <ion-button
        size="large"
        *ngIf="!state.playing"
        fill="clear"
        color="light"
        (click)="play()"
      >
        <ion-icon
          size="large"
          slot="icon-only"
          name="play-circle-sharp"
        ></ion-icon>
      </ion-button>

      <ion-button
        size="large"
        *ngIf="!!state.playing"
        color="light"
        fill="clear"
        (click)="pause()"
      >
        <ion-icon
          size="large"
          slot="icon-only"
          name="pause-circle-sharp"
        ></ion-icon>
      </ion-button>

      <ion-button (click)="forward()" fill="clear" color="light">
        <ion-icon name="play-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <app-player [isLarge]="true"></app-player>
</ion-content>
