<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="podcasts">
      <img class="searchbuttonmaradio" src="../../../assets/icon/podcast_menu.png">
      <ion-label>Podcasts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="live">
      <img class="searchbuttonmaradio" src="../../../assets/icon/direct_menu.png">
      <ion-label>Les Directs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="radio">
      <img class="searchbuttonmaradio" src="../../../assets/icon/radio_menu.png">
      <ion-label>Ma Radio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grille">
      <img class="searchbuttonmaradio" src="../../../assets/icon/Grille_menu.png">
      <ion-label>Grille</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>